<%- include ('../partials/header') %>
    </head>

    <body>
    
                            <div class="post-panel section-t-space">
                                <div class="post-wrapper col-grid-box section-t-space">
                                    <div class="post-title">
                                        <div class="profile">
                                            <div class="media">
                                                <a class="popover-cls user-img bg-size blur-up lazyloaded" data-bs-toggle="popover" data-placement="right" data-name="sufiya eliza" data-img="../assets/images/user-sm/1.jpg" style="background-image: url(&quot;../assets/images/user-sm/1.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;" data-bs-original-title="" title="">
                                                    <img src="../assets/images/user-sm/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="user" style="display: none;">
                                                </a>
                                                <div class="media-body">
                                                    <h5>sufiya eliza</h5>
                                                    <h6>30 mins ago</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="setting-btn ms-auto setting-dropdown no-bg">
                                            <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                <div role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon icon-font-color iw-14"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark icon-font-light iw-16 ih-16"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>save post</a>
                                                        </li>
                                                        <li>
                                                            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-square icon-font-light iw-16 ih-16"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="9" y1="9" x2="15" y2="15"></line><line x1="15" y1="9" x2="9" y2="15"></line></svg>hide post</a>
                                                        </li>
                                                        <li>
                                                            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-octagon icon-font-light iw-16 ih-16"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>unfollow sufiya</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-details">
                                        <div class="detail-box">
                                            <h3>Celebration new album song launched</h3>
                                            <h5 class="tag"><span>#Musiccelebration,</span> #music, #party, #music</h5>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="bookmark favourite-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark iw-14 ih-14"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                                            </div>
                                            <div class="people-likes">
                                                
                                            </div>
                                        </div>
                                        <div class="post-react">
                                            <ul>
                                                <li class="comment-click">
                                                    <a href="javascript:void(0)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square iw-18 ih-18"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> comment
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="comment-section">
                                            <div class="comments d-none">
                                                <div class="ldr-comments">
                                                    <ul>
                                                        <li>
                                                            <div class="media">
                                                                <div class="ldr-img"></div>
                                                                <div class="media-body">
                                                                    <div class="contents">
                                                                        <div class="ldr-content"></div>
                                                                        <div class="ldr-content"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <ul class="sub-comment">
                                                                <li>
                                                                    <div class="media">
                                                                        <div class="ldr-img"></div>
                                                                        <div class="media-body">
                                                                            <div class="contents">
                                                                                <div class="ldr-content"></div>
                                                                                <div class="ldr-content"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <div class="media">
                                                                <div class="ldr-img"></div>
                                                                <div class="media-body">
                                                                    <div class="contents">
                                                                        <div class="ldr-content"></div>
                                                                        <div class="ldr-content"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="media">
                                                                <div class="ldr-img"></div>
                                                                <div class="media-body">
                                                                    <div class="contents">
                                                                        <div class="ldr-content"></div>
                                                                        <div class="ldr-content"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="main-comment">
                                                    <div class="media">
                                                        <a href="#" class="user-img popover-cls bg-size blur-up lazyload" data-bs-toggle="popover" data-placement="right" data-name="Pabelo mukrani" data-img="../assets/images/user-sm/2.jpg" style="background-image: url(&quot;../assets/images/user-sm/2.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;" data-bs-original-title="" title="">
                                                            <img src="../assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="user" style="display: none;">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h5>Pabelo Mukrani</h5>
                                                            </a>
                                                            <p>Oooo Very Cute and Sweet Dog, happy birthday Cuty....
                                                                🙂
                                                            </p>
                                                            <ul class="comment-option">
                                                                <li><a href="#">like (5)</a></li>
                                                                <li><a href="#">reply</a></li>
                                                                <li><a href="#">translate</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment-time">
                                                            <h6>50 mins ago</h6>
                                                        </div>
                                                    </div>
                                                    <div class="sub-comment">
                                                        <div class="media">
                                                            <a href="#" class="user-img popover-cls bg-size blur-up lazyload" data-bs-toggle="popover" data-placement="right" data-name="sufiya elija" data-img="../assets/images/user-sm/3.jpg" style="background-image: url(&quot;../assets/images/user-sm/3.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;" data-bs-original-title="" title="">
                                                                <img src="../assets/images/user-sm/3.jpg" class="img-fluid blur-up lazyload bg-img" alt="user" style="display: none;">
                                                            </a>
                                                            <div class="media-body">
                                                                <a href="#">
                                                                    <h5>sufiya elija</h5>
                                                                </a>
                                                                <p>Thank You So Much ❤❤</p>
                                                                <ul class="comment-option">
                                                                    <li><a href="#">like</a></li>
                                                                    <li><a href="#">reply</a></li>
                                                                    <li><a href="#">translate</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-time">
                                                                <h6>50 mins ago</h6>
                                                            </div>
                                                        </div>
                                                        <div class="media">
                                                            <a href="#" class="user-img popover-cls bg-size blur-up lazyload" data-bs-toggle="popover" data-placement="right" data-name="sufiya eliza" data-img="../assets/images/user-sm/4.jpg" style="background-image: url(&quot;../assets/images/user-sm/4.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;" data-bs-original-title="" title="">
                                                                <img src="../assets/images/user-sm/4.jpg" class="img-fluid blur-up lazyload bg-img" alt="user" style="display: none;">
                                                            </a>
                                                            <div class="media-body">
                                                                <a href="#">
                                                                    <h5>sufiya elija</h5>
                                                                </a>
                                                                <p>Thank You So Much ❤❤</p>
                                                                <ul class="comment-option">
                                                                    <li><a href="#">like</a></li>
                                                                    <li><a href="#">reply</a></li>
                                                                    <li><a href="#">translate</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-time">
                                                                <h6>50 mins ago</h6>
                                                            </div>
                                                        </div>
                                                        <a href="javascript:void(0)" class="loader">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw iw-15 ih-15"><polyline points="23 4 23 10 17 10"></polyline><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path></svg> load more
                                                            replies
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="main-comment">
                                                    <div class="media">
                                                        <a href="#" class="user-img popover-cls bg-size blur-up lazyload" data-bs-toggle="popover" data-placement="right" data-name="pabelo mukrani" data-img="../assets/images/user-sm/2.jpg" style="background-image: url(&quot;../assets/images/user-sm/2.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;" data-bs-original-title="" title="">
                                                            <img src="../assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="user" style="display: none;">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h5>Pabelo Mukrani</h5>
                                                            </a>
                                                            <p>It’s party time, Sufiya..... and happy birthday cuty 🎉🎊</p>
                                                            <ul class="comment-option">
                                                                <li><a href="#">like</a></li>
                                                                <li><a href="#">reply</a></li>
                                                                <li><a href="#">translate</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="comment-time">
                                                            <h6>50 mins ago</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="reply">
                                                <div class="search-input input-style input-lg icon-right">
                                                    <input type="text" class="form-control emojiPicker" placeholder="write a comment..">
                                                    <a href="javascript:void(0)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile icon icon-2 iw-14 ih-14"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera iw-14 ih-14 icon"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="load-more" class="post-loader">
                                <div class="loader-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw icon-theme iw-25 ih-25"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>
                                </div>
                                <div class="no-more-text">
                                    <p>no more post</p>
                                </div>
                            </div>
    
    
        <%- include ('../partials/footer') %>