<%- include ('../partials/header') %>
    </head>

    <body>
        <!-- page body start -->
        <div class="page-center">
            <div class="container-fluid section-t-space px-0">
                <div class="page-content">

                    <div class="content-center w-100">
                        <!-- friend list -->
                        <div class="friend-list-box section-b-space">
                            <div class="card-title">
                                <h3>Students</h3>
                                <div class="right-setting">
                                    <div class="search-input input-style icon-right">
                                        <i data-feather="search" class="icon-dark icon iw-16"></i>
                                        <input type="text" class="form-control" placeholder="find friends...">
                                    </div>
                                    <div class="ms-2 setting-dropdown">
                                        <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                            <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                filter
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                <ul>
                                                    <li class="active">
                                                        <a href="">all friends</a>
                                                    </li>
                                                    <li>
                                                        <a href="">close friends</a>
                                                    </li>
                                                    <li>
                                                        <a href="">office friends</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="friend-list friend-page-list">
                                    <ul>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/3.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/4.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/5.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/6.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/7.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/8.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/9.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/10.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/11.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profile-box friend-box">
                                                <div class="profile-content">
                                                    <div class="image-section">
                                                        <div class="profile-img">
                                                            <div>
                                                                <img src="../assets/images/user-sm/12.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                                                            </div>
                                                            <span class="stats">
                                                                <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="profile-detail">
                                                        <h2>kelin jasen <span>❤</span></h2>
                                                        <h5>kelin.jasen156@gmail.com</h5>
                                                        <div class="counter-stats">
                                                            <ul>
                                                                <li>
                                                                    <h3 class="counter-value">546</h3>
                                                                    <h5>following</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">26335</h3>
                                                                    <h5>likes</h5>
                                                                </li>
                                                                <li>
                                                                    <h3 class="counter-value">6845</h3>
                                                                    <h5>followers</h5>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="profile(friend).html" class="btn btn-outline">view
                                                            profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <!-- page body end -->
        <%- include ('../partials/footer') %>